<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/66f773f7-ab57-4a46-9c43-c11a2caf7c9d/resourceGroups/uol_feps_soc_comp5200m_sc23ee/providers/Microsoft.Web/sites/ChromosomeGenerationService</ResourceId>
    <ResourceGroup>uol_feps_soc_comp5200m_sc23ee</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://chromosomegenerationservice-b4f0agh6hsfnauex.ukwest-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a203609c-b3a9-4fc6-a76b-a23b030b1c89</ProjectGuid>
    <PublishUrl>https://chromosomegenerationservice-b4f0agh6hsfnauex.scm.ukwest-01.azurewebsites.net/</PublishUrl>
    <UserName>$ChromosomeGenerationService</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>